.sidenav-title {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.sidenav-list {
    padding: 0;
}

.sidenav-button {
    height: 45px;
    width: 100%;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.sidenav-button :hover {
    
}