<div class="dialog-container">
    <div class="dialog-content">
        <h1 style="font-weight: bold;">Create new task</h1>
        
        <h2>Title</h2>
        <mat-form-field>
            <mat-label>Title: </mat-label>
            <input matInput placeholder="Project" [formControl]="title" required>
            @if (title.invalid) {
              <mat-error>{{getErrorMessage()}}</mat-error>
            }
        </mat-form-field>

        <h2>Due Date</h2>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <h2>Status</h2>
        <div>
            <label>Status: </label>
            <mat-radio-group [formControl]="status">
              <mat-radio-button value="TO_DO">To Do</mat-radio-button>
              <mat-radio-button value="IN_PROGRESS">In Progress</mat-radio-button>
              <mat-radio-button value="Complete">Complete</mat-radio-button>
            </mat-radio-group>
        </div>

        <h2>Collaborators</h2>
        <input
              type="text"
              placeholder="Search user"
        />

        <h2>Tasks</h2>
        <mat-form-field style="width: 100%;">
          <mat-label>Tasks</mat-label>
          <mat-chip-grid 
            #chipGrid 
            class="mat-mdc-chip-set-stacked"
            aria-label="Enter Tasks" 
            cdkDropList
            cdkDropListOrientation="vertical"
            (cdkDropListDropped)="drop($event)">
            @for (task of tasks; track task) {
              <mat-checkbox>
                <mat-chip-row 
                (removed)="removeTask(task)"
                [editable]="true"
                (edited)="edit(task, $event)"
                [aria-description]="'press enter to edit ' + task.name"
                cdkDrag>
                  {{task.name}}
                  <button matChipRemove aria-label="'remove ' + task">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip-row>
              </mat-checkbox>
              <div style="width: 100%;"></div>
            }
          </mat-chip-grid>
          <input placeholder="New task..."
                  [matChipInputFor]="chipGrid"
                  (matChipInputTokenEnd)="add($event)"/>
        </mat-form-field>
        
        <div class="dialog-button">
            <button mat-raised-button>Cancel</button>
            <button mat-raised-button color="primary">Create</button>
        </div>
    </div>
</div>

